.tile{

 position:absolute;

 width:120px;
 height:120px;

 border-radius:6px;

 transition:transform .08s;

}

.tile.play-mini{

 width:120px !important;
 height:120px !important;

 font-size:0;

}

.tile.play-mini *{

 display:none;

}

.tile-stage{

 position:relative;

 height:80vh;

}

.player{

 position:absolute;

 width:40px;
 height:40px;

 background:#111;

 border-radius:4px;

}